/*bg - background*/
/*bc - border-color*/
/*fc - font-color*/
/*c - color*/
.wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a,
a:active,
a:visited,
a:hover {
  color: #33567f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header__menu {
  height: 45px;
  background: #597da3;
  color: white;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 20px;
}
.header__icons {
  display: flex;
}
.header__lang,
.header__help {
  position: relative;
  height: 100%;
  padding: 0 15px;
  line-height: 45px;
  font-weight: bold;
  cursor: pointer;
}
.header__lang:hover,
.header__help:hover {
  background: #4b6d94;
}
.header__lang:hover .header__dropdown {
  visibility: visible;
  opacity: 1;
}
.header__dropdown {
  visibility: hidden;
  position: absolute;
  top: 52px;
  left: 0;
  opacity: 0;
  font-size: 15px;
  background: white;
  border: 1px solid #41658c;
  color: #41658c;
  transition: opacity 0.2s;
}
.header__dropdown:after {
  position: absolute;
  top: -5px;
  right: 13px;
  content: "";
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background: white;
  border: 1px solid #41658c;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.header__dropdown span {
  display: block;
  padding: 4px 10px;
  line-height: 25px;
  font-weight: normal;
}
.header__dropdown span:hover {
  background: #e4eaf0;
}
.header__dropdown span:first-child {
  border-bottom: 1px solid #dbe4ec;
}
.banner {
  display: block;
  width: 100%;
  height: 375px;
  background: url("/graph/pict/about_cover.jpg") no-repeat top center;
}
main {
  background: #f1f2f4;
}
.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #ebedf0;
}
.tabs__list {
  display: flex;
}
.tabs__item {
  box-sizing: border-box;
  padding: 17px 10px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: -1px;
  border-bottom: 2px solid transparent;
  color: #65686c;
  cursor: pointer;
}
.tabs__item--active {
  border-bottom-color: #6387ac;
  color: black;
}
.tabs__item:hover:not(.tabs__item--active) {
  border-bottom-color: #cad2db;
}
.tabs__popular {
  color: #33567f;
}
.tabs__popular:hover {
  text-decoration: underline;
}
.content {
  padding-top: 20px;
  font-size: 13px;
  line-height: 17px;
}
.thread {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
  background: white;
  border: 1px solid #e1e2e6;
}
.thread__show-more {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: #f0f2f5;
  color: #55677d;
}
.main-post {
  position: relative;
  box-sizing: border-box;
  min-height: 70px;
  padding: 20px 0 20px 60px;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 19px;
  border-bottom: 1px solid #e1e2e6;
}
.main-post__avatar {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 50px;
  height: 50px;
  background: aqua;
  border-radius: 50%;
}
.post-reply {
  box-sizing: border-box;
  position: relative;
  padding: 20px 0 30px 50px;
  border-bottom: 1px solid #e1e2e6;
}
.post-reply--last {
  border-bottom: none;
}
.post-reply__avatar {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 40px;
  height: 40px;
  background: green;
  border-radius: 50%;
}
.add-comment {
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #e1e2e6;
}
.add-comment__field {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #e1e2e6;
}
.add-comment__field:focus {
  outline: none;
}
.add-comment__btn-wrapper {
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}
.add-comment__send {
  padding: 7px 16px;
  background: #6287ae;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.create-thread {
  background: white;
  border: 1px solid #e1e2e6;
  margin-bottom: 15px;
}
.create-thread__field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid #e1e2e6;
}
.create-thread__field:focus {
  outline: none;
}
.create-thread__btn-wrapper {
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}
.create-thread__send {
  padding: 7px 16px;
  background: #6287ae;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 35px;
  font-size: 13px;
  color: #7c7f82;
}
.footer__anchors-list {
  display: flex;
}
.footer__list-item {
  padding: 0 6px;
  text-transform: lowercase;
}
